<form [formGroup]="form" (ngSubmit)="Onsubmit()">
  <div class="form-group">
    <input type="text" formControlName="name" class="form-control" />
    <!-- const nameControlErrors = form.get('name').errors; -->
  <ng-container *ngIf="form.get('name').touched && form.get('name').errors as nameControlErrors">
    <p class="alert alert-danger" *ngIf="nameControlErrors.required">
      عفوا هذا الحقل مطلوب
    </p>

    <p class="alert alert-danger" *ngIf="nameControlErrors.minlength as minLength">
      عدد الحروف المطلوب
      {{ minLength.requiredLength }}
      ، لقد ادخلت
      {{ minLength.actualLength }}
      حرف.
    </p>
  </ng-container>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="imgUrl">

        <p class="alert alert-danger" *ngIf="form?.get('imgUrl').touched && form?.get('imgUrl')?.errors?.isNotLink">
          رابط غير صحيح
        </p>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="httpError">
    <div class="col">
      <p class="alert alert-danger">
        {{ httpError }}
      </p>
    </div>
  </div>

  <button type="submit" class="btn btn-success mx-1">Save Changes</button>
  <button type="button" class="btn btn-info mx-1">Cancel</button>
</form>
