
<div class="row">
  <div class="col-4">
    <div class="form-group">
      <input type="text" class="form-control"
      placeholder="Search..."
      #searchInputElment>
    </div>

  </div>
  <div class="col-2">
    <div class="form-group">
      <select class="form-control" (change)="setSortBy($event.target.value)">
        <option *ngFor="let field of sortByFields" [value]="field.value">{{ field.label }}</option>
      </select>
    </div>
  </div>
  <div class="col-1">
    <div class="form-group">
      <select class="form-control" (change)="setPageSize($event.target.value)">
        <option *ngFor="let pageSize of [8, 10, 20]" [value]="pageSize">
          {{ pageSize }}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <ng-container *ngIf="totalCount">
      <app-pagination
        [pages]="Math.ceil(totalCount / pageSize)"
        (onPageChange)="setPageIndex($event)">
      </app-pagination>
    </ng-container>
  </div>
</div>
<div class="row">
  <ng-container *ngFor="let movie of movies; trackBy: trackById">
    <div class="col-3 my-1">
      <div class="card rounded">
        <div class="card-body">

          <div class="img-container">
            <img [src]="movie.imgUrl" class="w-100" *ngIf="movie.imgUrl" (error)="movie.imgUrl = defaultImgUrl">
            <img [src]="defaultImgUrl" class="w-100" *ngIf="!movie.imgUrl">
          </div>
          <div class="d-flex justify-content-between align-item-center">
            <a [routerLink]="[movie._id, 'update']">{{ movie.name }}</a>

            <span class="delete-icon" title="{{ 'removeMovie' | translate }}" (click)="removeMovie(movie._id)">
              X
            </span>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
</div>
